USE KHO_VINAVETCO


SELECT T2.MAMH,MAHD,
(SELECT TONDAU FROM TONDAUMATHANG WHERE TONDAUMATHANG.MAMH=T2.MAMH)+(SELECT CASE WHEN SUM(NHAPXUAT) IS NULL THEN 0 ELSE SUM(NHAPXUAT) END FROM TONKHO WHERE TONKHO.MAMH=T2.MAMH AND TONKHO.IDNHAP < T2.IDNHAP ) AS TONDAU,
(SELECT CASE WHEN SUM(NHAPXUAT) IS NULL THEN 0 ELSE SUM(NHAPXUAT) END  FROM TONKHO WHERE TONKHO.MAHD=T2.MAHD AND TONKHO.MANHAPXUAT='N' AND TONKHO.MAMH=T2.MAMH AND TONKHO.NGAY BETWEEN '2013/06/01' AND '2013/06/18') AS NHAP,
(SELECT CASE WHEN SUM(NHAPXUAT) IS NULL THEN 0 ELSE -SUM(NHAPXUAT) END  FROM TONKHO WHERE TONKHO.MAHD=T2.MAHD AND TONKHO.MANHAPXUAT='X' AND TONKHO.MAMH=T2.MAMH AND TONKHO.NGAY BETWEEN '2013/06/01' AND '2013/06/18') AS XUAT,
(SELECT CASE WHEN SUM(NHAPXUAT) IS NULL THEN 0 ELSE -SUM(NHAPXUAT) END  FROM TONKHO WHERE TONKHO.MAHD=T2.MAHD AND TONKHO.MANHAPXUAT='TN' AND TONKHO.MAMH=T2.MAMH AND TONKHO.NGAY BETWEEN '2013/06/01' AND '2013/06/18') AS TRANHAP,
(SELECT CASE WHEN SUM(NHAPXUAT) IS NULL THEN 0 ELSE SUM(NHAPXUAT) END  FROM TONKHO WHERE TONKHO.MAHD=T2.MAHD AND TONKHO.MANHAPXUAT='TX' AND TONKHO.MAMH=T2.MAMH AND TONKHO.NGAY BETWEEN '2013/06/01' AND '2013/06/18') AS TRAXUAT,
(SELECT TONDAU FROM TONDAUMATHANG WHERE TONDAUMATHANG.MAMH=T2.MAMH)+(SELECT CASE WHEN SUM(NHAPXUAT) IS NULL THEN 0 ELSE SUM(NHAPXUAT) END FROM TONKHO WHERE TONKHO.MAMH=T2.MAMH AND TONKHO.IDNHAP <= T2.IDNHAP ) AS TONCUOI
 FROM (SELECT * FROM TONKHO WHERE NGAY BETWEEN '2013/06/01' AND '2013/06/18') AS T2